<div id="loader-wrapper" ng-show="loading">
    <div id="loader"></div>
    <div id="loader-bg"></div>
</div>
<div class="container-fulid">
    <header-app search-bar=false></header-app>
</div>
<div class="container" style="margin-bottom: 30px;">
    <div class="row blanktop--normal hidden-sm hidden-xs"></div>
    <navigator title-level1="เพิ่มคูปอง" url-level1="#/add-coupon" title-level2="{{restaurant.name}}"></navigator>
    <div class="row text-center">
        <h1 class="font-2"><i class="fa fa-gift" aria-hidden="true"></i> เพิ่มคูปอง</h1>
    </div>
    <div class="row">
        <form name="addNewCoupon">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading"><i class="fa fa-tags" aria-hidden="true"></i> ข้อมูลคูปอง</div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <li class="list-group-item couponbody__list">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-sm-1 hidden-xs">
                                            <div class="row wrapimg img-circle" crop-img wrap-height="1" ng-style="wrapSize">
                                                <img class="img" ng-style="imgSize" ng-src="upload/{{ restaurant.img }}_thumb.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <h4>{{ restaurant.name }}</h4>
                                            <p class="area"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ restaurant.area }}</p>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <a ng-href="#/add-coupon" class="btn btn-sm btn-warning" role="button">เปลี่ยน</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="col-xs-12 couponbody__wraprow">
                            <label for="coupon-code">รหัสคูปอง (7 ตัวอักษร):</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="couponCode" limit-to="7" placeholder="กรอกรหัสคูปองเอง หรือกดสุ่มก็ได้">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="getCouponCode()">สุ่มรหัสคูปอง</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment">รายละเอียดคูปอง:</label>
                                <textarea class="form-control" rows="7" ng-model="couponDetail"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-success" ng-click="sendForm()"><i class="fa fa-check"></i> save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<div id="successAddCoupon" class="modal animated bounceIn" role="dialog">
    <div class="modal-dialog modal-sm text-center">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="imgs/correct.png" alt="">
                <p>เพิ่มคูปองให้ร้านของคุณเรียบร้อยแล้ว</p>
                <a id="clickToCoupon" ng-href="#/coupon/{{ idRes }}" role="button" class="btn btn-warning">ดูคูปอง</a>
            </div>
        </div>
    </div>
</div>

<div id="warningAddCoupon" class="modal" role="dialog">
    <div class="modal-dialog modal-sm text-center">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="imgs/warning.png" alt="">
                <p>กรุณากรอกข้อมูลให้ครบถ้วน</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">แก้ไข</button>
            </div>
        </div>
    </div>
</div>

<div id="warningAddCoupon2" class="modal" role="dialog">
    <div class="modal-dialog modal-sm text-center">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="imgs/warning.png" alt="">
                <p>ร้านนี้มีคูปองอยู่แล้วครับ</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#clickToCoupon").click(function() {
            $('#successAddCoupon').modal('hide');
        });
    });
</script>
