<div class="container-fulid">
    <header-app search-bar=false></header-app>
</div>
<div class="container" style="margin-bottom: 30px;">
    <div class="row blanktop--normal  hidden-sm hidden-xs"></div>
    <navigator title-level1="ค้นหาแบบละเอียด"></navigator>
    <div class="row text-center">
        <h1 class="font-2"><i class="fa fa-search-plus" aria-hidden="true"></i> ค้นหาแบบละเอียด</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">ข้อมูลสำหรับค้นหา</div>
                <div class="panel-body searchmap">

                    <div class="col-xs-12">
                        <advance-search></advance-search>
                    </div>

                    <div class="col-xs-12 text-center" style="margin-top: 20px">
                        <button type="button" class="btn btn-primary" ng-click="searchRestaurantAdvance()"><i class="fa fa-search" aria-hidden="true"></i> ค้นหาร้าน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
