<div class="container-fulid">
    <header-app search-bar=true></header-app>
    <div class="col-xs-12 resbody">
        <div class="container">
            <navigator title-level1="ร้านอาหาร"></navigator>
            <div ng-repeat="res in foundRestaurants | limitTo:resPerPage">
                <section class="col-md-4 col-sm-6 bodycontent__item">
                    <div class="col-xs-12 bodycontent__img boxshadow">
                        <a href="#/restaurant/{{ res.id }}" ng-click="__viewRestaurant()">
                            <span class="location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ res.area }}
                            </span>
                            <span class="distance" ng-if="res.distance!=null">
                                {{ res.distance }} km.
                            </span>
                            <div class="row wrapimg img-effect-2" crop-img wrap-height="0.5" ng-style="wrapSize">
                                <img class="img" ng-style="imgSize" ng-src="upload/{{ res.img }}_thumb.jpg" />
                            </div>
                        </a>
                    </div>
                    <div class="row bodycontent__detail">
                        <div class="col-xs-12">
                            <div class="col-xs-12 wrap boxshadow">
                                <div class="name">
                                    <a href="#/restaurant/{{ res.id }}" ng-click="__viewRestaurant()">{{ res.name }}</a>
                                </div>
                                <div class="">{{ res.type }}</div>
                                <div>
                                    <div class="price">
                                        ฿ {{ res.price.min }}-{{ res.price.max }}
                                    </div>
                                    <div class="score" ng-if="res.scoreTotal>0">
                                        <i class="fa fa-heart" aria-hidden="true"></i> <b>{{ res.scoreTotal }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div ng-show="($index%3)==2" class="visible-md visible-lg col-md-12"></div>
                <div ng-show="($index%2)==1" class="visible-sm col-sm-12"></div>
            </div>

            <div class="row text-center" ng-if="foundRestaurants.length!==0">
                <div class="col-xs-12">
                    <span class="seemorelist" ng-show="resPerPage < foundRestaurants.length" ng-click="loadMore(); __loadMoreRestaurants();">
                        <span ng-show="!loadingMore"><i class="fa fa-chevron-down" aria-hidden="true"></i> ดูเพิ่มเติม ({{ foundRestaurants.length - resPerPage }})</span>
                        <span ng-show="loadingMore"><img src="imgs/loadmore.svg">&nbsp; loading</span>
                    </span>
                </div>
            </div>
            <!-- <button type="button" name="button" ng-click="loadMore()"></button> -->

            <div class="row text-center resnotfound" ng-if="foundRestaurants.length==0">
                <div class="col-xs-12">
                    <p><img src="imgs/restaurant-not-found.png"></p>
                    <h1 class="resnotfound__row font-2">ไม่พบร้านอาหารที่ต้องการ</h1>
                    <p class="resnotfound__row">
                        <a href="#/add-restaurant" type="button" class="btn btn-success" ng-click="__addNewRestaurant()">
                            <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มร้านของคุณ
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
