<div class="container-fulid">
    <header-app search-bar=true></header-app>
    <div class="col-xs-12 resbody">
        <div class="container" ng-if="restaurant.length!=0">
            <div class="row resbody__wrapheader visible-xs">
                <div class="col-md-8">
                    <div>
                        <h1 class="name font-2">{{ restaurant.name }}</h1>
                    </div>
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ restaurant.area }}, กรุงเทพมหานคร
                    </div>
                </div>
                <div class="col-md-4">
                    dsdsd
                </div>
            </div>
            <div class="row resbody__wrapimg">
                <div class="col-md-8">
                    <div class="col-xs-12 boxshadow">
                        <div class="row wrapimg" crop-img wrap-height="0.5" ng-style="wrapSize">
                            <img class="img" ng-style="imgSize" ng-src="upload/{{ restaurant.img }}_full.jpg" />
                            <div class="title title_shadow hidden-xs">
                                <h1 class="font-2">{{ restaurant.name }}</h1>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ restaurant.area }}, กรุงเทพมหานคร</p>
                                <p>฿ {{ restaurant.price.min }} - {{ restaurant.price.max }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-12 boxshadow" ng-init="lat=13.76493;">
                        <div class="row wrapimg" crop-img wrap-height="1.04" ng-style="wrapSize">
                            <img class="img" ng-style="imgSize" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{ restaurant.map.lat }},{{ restaurant.map.lng }}&zoom=18&size=600x500&markers=color:red|icon:http://icons.iconarchive.com/icons/paomedia/small-n-flat/64/map-marker-icon.png|{{ restaurant.map.lat }},{{ restaurant.map.lng }}&key=AIzaSyCL_WJGAK__EjZPogQ6W5fFPhJfD-bI0PE"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row resbody__wrapimg">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-default" style="border-radius: 0px;">
                                <div class="panel-body">
                                    <div class="row resbodyinfo__row">
                                        <div class="col-xs-1 text-center">
                                            <img src="imgs/phone.png">
                                        </div>
                                        <div class="col-md-11 col-xs-10">
                                            {{ restaurant.tel }}
                                        </div>
                                    </div>
                                    <div class="row resbodyinfo__row">
                                        <div class="col-xs-1 text-center">
                                            <img src="imgs/pin.png">
                                        </div>
                                        <div class="col-md-11 col-xs-10">
                                            {{ restaurant.address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-warning" style="border-radius: 0px; background: #FFCC00; height: 120px;">
                                <div class="panel-body">
                                    <div class="row resbodyinfo__row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-warning" style="border-radius: 0px;">
                        <div class="panel-heading" style="border-radius: 0px;"><i class="fa fa-home"></i> รายละเอียด</div>
                        <div class="panel-body">
                            <div ng-bind-html="restaurant.content"></div>
                        </div>
                    </div>

                    <div class="panel panel-success" style="border-radius: 0px;">
                        <div class="panel-heading" style="border-radius: 0px;"><i class="fa fa-home"></i> บริการเสริม</div>
                        <div class="panel-body">
                            <div class="col-sm-4" ng-repeat="service in services" ng-if="restaurant.service[service.id]==1">
                                <div class="row">
                                    <div class="col-xs-12 resbodyinfo__row">
                                        <img class="service_icon" ng-src="imgs/icon_service/{{ service.id }}.png"> {{ service.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" style="border-radius: 0px;">
                        <div class="panel-body">
                            <div class="col-xs-12 resbodyscore text-center" ng-show="restaurant.numVote==0">
                                <div class="col-xs-12 text-center">
                                    <p>ยังไม่มีคนให้คะแนนร้านนี้</p>
                                </div>
                                <div class="col-xs-12 text-center button">
                                    <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addScore" ng-click="resetScore()">ให้คะแนนร้านนี้</button>
                                </div>
                            </div>
                            <div class="col-xs-12 resbodyscore text-center" ng-show="restaurant.numVote>0">

                                <h1 class="text-danger"><i class="fa fa-heart" aria-hidden="true"></i> <b number-counter>{{ numScore }}</b> <small>/ 10</small></h1>
                                <p>(ผู้ให้คะแนน {{ restaurant.numVote }} คน)</p>
                                <div class="col-xs-12 text-left">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <label for="">บรรยากาศ</label>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span class="label label-default">{{ restaurant.score.atm }}</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-atm" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{ restaurant.score.atm*10 }}%"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 text-left">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <label for="">รสชาติ</label>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span class="label label-default">{{ restaurant.score.taste }}</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-taste" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ restaurant.score.taste*10 }}%"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <label for="">บริการ</label>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span class="label label-default">{{ restaurant.score.service }}</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-service" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ restaurant.score.service*10 }}%"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 text-center button">
                                    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#addScore" ng-click="resetScore();">ให้คะแนนร้านนี้</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" style="border-radius: 0px;">
                        <div class="panel-body">
                            <div id="fb-comment-box" dyn-fb-comment-box page-href="http://www.indytheme.com/AroiDBkk/{{ idRes }}" numposts="2" colorscheme="light">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="addScore" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body text-center">
                <div ng-show="alertScore" class="alert alert-warning animated shake" role="alert">คุณยังไม่ได้ให้คะแนนร้าน!</div>

                <div class="row">
                    <div class="co-xs-12">
                        <label for="">บรรยากาศ ({{ scoreHover[0] }})</label>
                    </div>
                    <div class="co-xs-12 score" ng-mouseleave="scoreHover[0]=scoreClick[0]">
                        <span class="love" ng-repeat="love in range(10) track by $index" ng-class="love<scoreHover[0] ? 'love--red' : ''">
                            <i ng-mouseover="hoverScore(0, $index+1)" ng-click="clickScore(0, $index+1)" class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="co-xs-12">
                        <label for="">รสชาติ ({{ scoreHover[1] }})</label>
                    </div>
                    <div class="co-xs-12 score" ng-mouseleave="scoreHover[1]=scoreClick[1]">
                        <span class="love" ng-repeat="love in range(10) track by $index" ng-class="love<scoreHover[1] ? 'love--red' : ''">
                            <i ng-mouseover="hoverScore(1, $index+1)" ng-click="clickScore(1, $index+1)" class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="co-xs-12">
                        <label for="">บริการ ({{ scoreHover[2] }})</label>
                    </div>
                    <div class="co-xs-12 score" ng-mouseleave="scoreHover[2]=scoreClick[2]">
                        <span class="love" ng-repeat="love in range(10) track by $index" ng-class="love<scoreHover[2] ? 'love--red' : ''">
                            <i ng-mouseover="hoverScore(2, $index+1)" ng-click="clickScore(2, $index+1)" class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border: 0;">
                <div class="row text-center">
                    <button type="button" class="btn btn-success" ng-click="addScore(); refreshScore();"><i class="fa fa-check" aria-hidden="true"></i> บันทึกคะแนน</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6gFvIgL4dUvIr48Yt1Uo4qJ8KI-6tO4M&callback=mapRestaurant"></script> -->
