<div class="col-xs-12 restophead">
    <div class="container">
        ss
    </div>
</div>
<div class="col-xs-12 ressearchbar hidden-sm hidden-xs" ng-if="searchBar">
    <div class="container">
        <div class="col-md-5">
            <input type="text" class="form-control" id="usr" placeholder="ชื่อร้าน, ชื่ออาหาร">
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ที่ไหนก็ได้</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ทุกประเภท</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ไม่จำกัดราคา</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</div>

<div class="col-xs-12 ressearchbar--scroll hidden-sm hidden-xs" ng-if="searchBar" ng-style="{ visibility: showSearchBar }" scroll-show-search>
    <div class="container">
        <div class="col-md-2">
            logo
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="usr" placeholder="ชื่อร้าน, ชื่ออาหาร">
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ที่ไหนก็ได้</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ทุกประเภท</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="sel1">
                <option>ไม่จำกัดราคา</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</div>
