<header-sm></header-sm>
<div class="col-xs-12 restophead hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a href="#/"><img class="logo" src="imgs/logo-sm.png"></a>
            </div>
            <div class="col-md-10 text-right buttongroup">
                <a class="btn btn-sm btn-danger" role="button" ng-click="getCurrentLocation()">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; ร้านอาหารใกล้ตัว
                </a>
                <a href="#/coupons" class="btn btn-sm btn-warning" role="button">
                    <i class="fa fa-gift" aria-hidden="true"></i>&nbsp; คูปอง
                </a>
                <a href="#/add-restaurant" class="btn btn-sm btn-success" role="button">
                    <i class="glyphicon glyphicon-plus"></i> เพิ่มร้าน
                </a>
            </div>
        </div>
    </div>
</div>
<div ng-show="searchBar">
    <div class="col-xs-12 ressearchbar hidden-sm hidden-xs">
        <div class="container">
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="keyword" placeholder="ชื่อร้าน, ชื่ออาหาร">
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="areaSelected" ng-options="item.name for item in area"></select>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setSlider()">
                        <span class="col-lg-9">
                            {{ price.minValue }} - {{ price.maxValue }} บาท
                        </span>
                        <span class="col-lg-2">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                    </button>
                    <div class="dropdown-menu" style="width: 200px;">
                        <div class="col-xs-12">
                            <rzslider rz-slider-model="price.minValue" rz-slider-high="price.maxValue" rz-slider-options="price.options"></rzslider>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-block" ng-click="searchRestaurantNormal()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            <div class="col-md-2">
                <div class="btn-group btn-group-justified">
                    <button type="button" class="btn btn-default" style="width: 65%;" data-toggle="modal" data-target="#searchAdvance" ng-click="setSlider()">ค้นละเอียด</button>
                    <button type="button" class="btn btn-default" style="width: 35%;" title="ค้นหาจากแผนที่" ng-click="goToMaps()"><i class="fa fa-map-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 ressearchbar--scroll hidden-sm hidden-xs" ng-style="{ visibility: showSearchBar }" scroll-show-search>
        <div class="container">
            <div class="col-md-2 text-center">
                <a href="#/"><img class="logo" src="imgs/logo-sm.png"></a>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="keyword" placeholder="ชื่อร้าน, ชื่ออาหาร">
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="areaSelected" ng-options="item.name for item in area"></select>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-block btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-click="setSlider()">
                        <span class="col-lg-9">
                            {{ price.minValue }} - {{ price.maxValue }} บาท
                        </span>
                        <span class="col-lg-2">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                    </button>
                    <div class="dropdown-menu" style="width: 200px;" ng-style="{ display: boxPrice }">
                        <div class="col-xs-12">
                            <rzslider rz-slider-model="price.minValue" rz-slider-high="price.maxValue" rz-slider-options="price.options"></rzslider>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-search"></i></button>
            </div>
            <div class="col-md-2">
                <div class="btn-group btn-group-justified">
                    <button type="button" class="btn btn-default" style="width: 65%;" data-toggle="modal" data-target="#searchAdvance" ng-click="setSlider()">ค้นละเอียด</button>
                    <button type="button" class="btn btn-default" style="width: 35%;" title="ค้นหาจากแผนที่" ng-click="goToMaps()"><i class="fa fa-map-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="searchAdvance" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-search-plus" aria-hidden="true"></i> ค้นหาแบบละเอียด</h4>
                </div>
                <div class="modal-body">
                    <advance-search></advance-search>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="searchRestaurantAdvance()"><i class="fa fa-search" aria-hidden="true"></i> ค้นหา</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip({
            placement: "bottom",
            container: "body"
        });
        $('.dropdown-menu').click(function(event) {
            event.stopPropagation();
        });
    });
</script>
